*,
:after,
:before {
  box-sizing: border-box;
  color: currentColor;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  line-height: 1.4;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  block-size: 100%;
  inline-size: 100%;
}
@supports (scrollbar-gutter: stable) {
  body {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

:root {
  --zero: 0;
  --transparent: transparent !important;
  --white-200: #f5f5f7;
  --ios-notch: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  background-color: hsl(0deg 1.05% 14.07%);
  padding: 4em;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 400;
}

h1 {
  color: var(--white-200);
}
p {
  color: inherit;
}
main {
  width: 100%;
  min-height: 100vh;
  place-content: center;
  place-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.4em;
}
aside div {
  padding: 0.4em;
}

.card {
  width: 180px;
  aspect-ratio: 9/16;
}

b {
  font-weight: 700;
}

button {
  cursor: pointer;
}

main rect,
.hueued {
  filter: hue-rotate(326deg);
}

.hueued {
  display: flex;
  gap: 0.5em;
}

.hueued p:not(:first-of-type) {
  font-variant-numeric: tabular-nums;
}
/* @media (orientation: landscape) {
} */
